body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-container {
  position: center;
  align-items: center;
  align-content: center;
  align-self: center;
  /* background-color: #E6D9CC;
  background-size: cover; */
}

.profile-card{
    align-content: center;
    align-items: center;
    position:absolute;
    background: white;
    border: solid;
    color: black;
    border-radius:10px;
    padding:20px;
    justify-content: center;
    width:400px;
    min-height: 600px;
    margin: 100px;
       
}

button:hover {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

img:hover {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

body{
  background-image: url("./images/home-background.png");
  background-size: cover;
}
